@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Kirang+Haerang');

* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: auto;
	padding: 8%;
	text-align: center;
	background-image: url('Yahtzee.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 40%;
	display: inline-block;
	vertical-align: middle;
}

body {
	font-size: 1em;
	font-family: 'Do Hyeon', sans-serif;
	color: black;
	text-align: center;
	background-image: url('Can.jpg');
	background-position: right;
	background-repeat: no-repeat;
}

img {
	width: 10%;
}

ul {
  list-style-type: none;
}	

#guide {
	font-size: .8em;
	font-family: 'Do Hyeon', sans-serif;
	width: 100%;
	padding: 1%;
	text-align: center;
	border: 1% solid black;
	border-right: .05em double red;
   	box-shadow: inset 0 0 1px #000000;
	background: rgba(242,231,169,.9);
}

#guide > p img {
	width: 50%;
}

#rule {
	font-size: .8em;
	font-family: 'Do Hyeon', sans-serif;
	color: black;
	text-align: center;
	width: auto;
	padding: 1% auto;
	text-align: center;
	border: 5% solid black;
	background: rgb(37,38,42);
	color: white;
}

#points {
	font-size: .8em;
	font-family: 'Do Hyeon', sans-serif;
	color: black;
	text-align: center;
	width: auto;
	padding: 1% auto;
	text-align: center;
	border: 5% solid black;
	background: rgba(242,231,169,.9);
   	box-shadow:         inset 1px 0px 5px #000000;
}

#total {
	font-size: 1.5em;
	font-family: 'Do Hyeon', sans-serif;
	width: 100%;
	padding: 1%;
	text-align: center;
	border: 5% solid black;
	background: red;
	color: white;
}

.die:hover {
	cursor: pointer;
	transition: all 0.3s ease;
}

.die {
	position: relative;
	margin: auto auto;
	transition: all 0.3s ease;
}

.dice {
	margin-top: 1%;
	margin-bottom: 1%;
	cursor: pointer;
	text-align: center;
}

.score-board {

}

#roll-dice {
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: auto;
	background: red;
	width: 20%;
	font-size: 1em;
	border: .05em solid black;
	border-radius: 50%;
	box-shadow: 2px 3px gray;
	color: white;
	text-shadow: #000 0px 1px 1px;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

#roll-dice:active {
	position: relative;
	top: 2px;
}

#button:hover {
	cursor: pointer;
}

#button:active {
	position: relative;
	top: 2px;
	background: green;
}

#end-turn {
	width: 35%;
	height: auto;
	text-align: center;
	background: silver;
	margin-top: auto;
	margin-bottom: auto;
	color: black;
	font-size: 1em;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: 
  		0 1px 2px #000,
  		0 -1px 1px #666,
  		inset 0 -1px 1px rgba(0,0,0,0.5),
  		inset 0 1px 1px rgba(192,192,192,0.8);
}

#end-turn:hover {
	cursor: pointer;
}

#end-turn:active {
	position: relative;
	top: 2px;
}

.green-glow {
	border: .1em solid #00ff00;
	border-radius: 10%;
	box-shadow: 0 0 .3em #31b43a;

}

.red-glow {
	border: .3em solid #fc121b;
	border-radius: 20%;
}

.gray-glow {
	border: 1px solid #464647;
	border-radius: 2.5em;
	box-shadow: 0 0 10px #25292b;
}

.active {
	cursor: pointer;
	font-size: 1.8em;
	font-family: 'Kirang Haerang', sans-serif;
	font-weight: bold;
	color: red;
	text-align: center;
}

.keep {
	cursor: default !important;
	font-size: 1.5em;
	font-family: 'Kirang Haerang', sans-serif;
	color: black;
	text-align: center;
}