@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Kirang+Haerang');

* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: auto;
	padding: 8%;
	text-align: center;
	background-image: url('Yahtzee.png');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 40%;
	display: inline-block;
	vertical-align: middle;
}

body {
	font-size: 1em;
	font-family: 'Do Hyeon', sans-serif;
	color: black;
	text-align: center;
	background-image: url('Can.jpg');
	background-position: right;
	background-repeat: no-repeat;
}

img {
	width: 10%;
}

ul {
  list-style-type: none;
}	

#guide {
	font-size: .8em;
	font-family: 'Do Hyeon', sans-serif;
	width: 100%;
	padding: 1%;
	text-align: center;
	border: 1% solid black;
	border-right: 1px double red;
   	box-shadow: inset 0 0 1px #000000;
	background: rgba(242,231,169,.9);
}

#guide > p img {
	width: 50%;
}

#rule {
	font-size: .9em;
	font-family: 'Do Hyeon', sans-serif;
	color: black;
	text-align: center;
	width: auto;
	padding: 1%;
	border-bottom: 1px double gray;
	text-align: center;
	background: rgb(37,38,42);
	color: white;
}

#points {
	font-size: .9em;
	font-family: 'Do Hyeon', sans-serif;
	color: black;
	text-align: center;
	width: auto;
	padding-top: 1%;
	text-align: center;
	background: rgba(242,231,169,.9);
   	box-shadow: inset 0px 0px 2px #000000;
}

#total {
	margin-bottom: 1%;
	font-size: 1.8em;
	font-family: 'Do Hyeon', sans-serif;
	width: 100%;
	padding: 1%;
	text-align: center;
	border: 1px solid black;
	border-radius: 2%;
	background: rgb(37,38,42);
	color: white;
}

.die:hover {
	cursor: pointer;
	transition: all 0.3s ease;
}

.die {
	position: relative;
	margin: auto auto;
	transition: all 0.3s ease;
}

.dice {
	margin-top: 1%;
	margin-bottom: 1%;
	cursor: pointer;
	text-align: center;
}

#roll-dice {
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	margin-bottom: auto;
	background: red;
	width: 20%;
	font-size: 1em;
	border: .06em solid black;
	border-radius: 47%;
	box-shadow: 1px 5px #646464;
	color: white;
	text-shadow: #000 0px 2px 1px;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

#roll-dice:active {
	position: relative;
	top: 2px;
}

#roll-dice:hover {
	cursor: pointer;
}

#button:active {
	position: relative;
	top: 2px;
	background: green;
}

.green-glow {
	border: .1em solid #00ff00;
	border-radius: 20%;
	box-shadow: 0 0 .3em #31b43a;
	position: relative;
	bottom: 1em;
	transition: all 0.3s ease;
}

.red-glow {
	border: .1em solid #fc121b;
	border-radius: 20%;
	box-shadow: 0 0 .3em #25292b;
	position: relative;
	top: .3em;
	transition: all 0.3s ease;
}

.active {
	cursor: pointer;
	font-size: 1.8em;
	font-family: 'Kirang Haerang', sans-serif;
	font-weight: bold;
	color: red;
	text-align: center;
}

.keep {
	cursor: default !important;
	font-size: 1.5em;
	font-family: 'Kirang Haerang', sans-serif;
	color: black;
	text-align: center;
}